{% macro redactor() %}
	<script src="{{ app.request_stack.currentrequest.basepath }}/js/tinymce/js/tinymce/tinymce.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	tinymce.init({
		selector:'.redactor',
		height: 300,
		menubar: false,
		language: "fr_FR",
		statusbar: false,
        force_br_newlines : true,
        force_p_newlines : false,
        forced_root_block : '',
		plugins: [
			'lists link image charmap textcolor media'
		],
		toolbar: 'bold italic underline | forecolor backcolor | alignleft aligncenter alignright alignjustify | link image | undo redo |',
		setup: function (editor) {
			editor.on('change', function () {
				tinymce.triggerSave();
			});
		}
	});
	</script>
{% endmacro %}

{% macro currentImage(path, file) %}
	<span class="underline bold">Photo actuelle :</span> {{ file }}
	<a href="#" data-toggle="modal" data-target="#display_current_image"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>

	<!-- Modal -->
	<div class="modal fade" id="display_current_image" tabindex="-1" role="dialog" aria-labelledby="currentImageLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="currentImageLabel">Photo actuelle</h4>
				</div>
				<p class="center">{{ (path~file)|max_size_image(app.request_stack.currentrequest.basepath) }}</p>
			</div>
		</div>
	</div>
{% endmacro %}